#map { height: 100vh; width: 100vw;}


body {
    padding: 0;
    margin: 0;
}
@media only screen and (max-width: 600px) {
	

body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}





